﻿@model KPI_DASHBOARD.Core.Data.EMPLOYEE_LOGIN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Confirm Deletion of Account</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            User System ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMP_LOG_USER_SYS_ID)
        </dd>

        <dt>
            Role
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_ROLES.ROLE_NAME)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Manage")
        </div>
    }
</div>