﻿@model KPI_DASHBOARD.Core.Data.EMPLOYEE_LOGIN
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <h4 style="margin-top:20px;">User Account Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            User System ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMP_LOG_USER_SYS_ID)
        </dd>

        <dt>
            Role
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_ROLES.ROLE_NAME)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EMP_LOG_USER_SYS_ID }) |
    @Html.ActionLink("Back to List", "Manage")
</p>