﻿@model KPI_DASHBOARD.Core.Data.EMPLOYEE_LOGIN
@{
    ViewBag.Title = "HRMasterData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/Content/AnalystIndex.css">

<h2>HR Master Data</h2>
<body>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
        <button onclick="w3_close()" class="w3-bar-item w3-large">&times;</button>
        <b class="w3-bar-item">Menu</b>
        <a href="@Url.Action("HRMasterData", "Analyst")" class="w3-bar-item w3-button">HR Master Data</a>
        <a href="@Url.Action("Kenexa", "Analyst")" class="w3-bar-item w3-button">Kenexa</a>
        <a href="@Url.Action("Absences", "Analyst")" class="w3-bar-item w3-button">Absences</a>
        <a href="@Url.Action("Terminations", "Analyst")" class="w3-bar-item w3-button">Terminations</a>

        <br />
        <a href="@Url.Action("Manage", "Analyst")" class="w3-bar-item w3-button">Manage Users</a>
    </div>

    <!-- Page Content -->
    <div class="w3-light-gray" style="border-radius:15px">
        <button class="w3-button w3-yellow w3-xlarge" style="border-radius:15px" onclick="w3_open()">☰</button>
        <div class='tableauPlaceholder' id='viz1510811374436' style="background-size: 60%;width:60%;position:relative;margin-top:20px"><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;HR&#47;HR_57&#47;NationalityAgeGroup&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='HR_57&#47;NationalityAgeGroup' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;HR&#47;HR_57&#47;NationalityAgeGroup&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
        <script type='text/javascript'>                    var divElement = document.getElementById('viz1510811374436');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </div>

    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }
        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>
</body>