﻿@using PagedList.Mvc;
@model PagedList.IPagedList<KPI_DASHBOARD.Core.Data.EMPLOYEE_LOGIN>

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Accounts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                USER SYSTEM ID
            </th>
            <th>
                EMPLOYEE ROLE
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.EMP_LOG_USER_SYS_ID
                </td>
                <td>
                    @item.USER_ROLES.ROLE_NAME
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EMP_LOG_USER_SYS_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EMP_LOG_USER_SYS_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EMP_LOG_USER_SYS_ID, RoleId = item.EMP_ROLE })
                </td>
            </tr>
        }

    </table>

    <br />
    <div id='Paging' style="text-align: center">
        @Html.PagedListPager(Model, page => Url.Action("Manage", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
    </div>
}