﻿@using KPI_DASHBOARD.Core.Data
@model EMPLOYEE_LOGIN
@{
    ViewBag.Title = "Log In";
}
<script type="text/javascript">
    window.history.forward();
</script>
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @*<h4>LoginUser</h4>*@
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.EMP_LOG_USER_SYS_ID, "User System ID", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.EMP_LOG_USER_SYS_ID, new { htmlAttributes = new { @class = "form-control" ,@type= "text"} })
                            @Html.ValidationMessageFor(model => model.EMP_LOG_USER_SYS_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EMP_LOG_PASSWORD, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.EMP_LOG_PASSWORD, new { htmlAttributes = new { @class = "form-control", @type="password"} })
                            @Html.ValidationMessageFor(model => model.EMP_LOG_PASSWORD, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" value="Login" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

        </section>
    </div>
</div>